body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #222;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

select, button, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#checkboxContainer {
    margin-bottom: 10px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px;
    width: auto;
}

.checkbox-item label {
    flex-grow: 1;
}

.file-name {
    color: #4CAF50;
    margin-left: 10px;
}